@page "/"

<PageTitle>Home</PageTitle>

<div class="main-container">
    <div class="delay-card">
        <h2>Delays</h2>
        <p>Check for train delays</p>
    </div>
    <div class="right-section">
        <div class="about-card">
            <h2>About</h2>
            <p>Welcome to Passenger Portal – your travel companion and your reliable tool for planning train journeys, checking rankings,
                and staying updated on travel information!</p>
        </div>
        <p></p>
        <div class="image-card">
            <img src="images/train.jpg" alt="Train Image" class="rounded-image" />
        </div>
    </div>
</div>